body,
footer {
    background-color: rgb(241, 241, 241);
}



h1,
#bottom-container,
button,
#gridValue,
footer {
    font-family: 'Courier New', Courier, monospace;
}



#container {
    
    display: flex;
    align-items: center;
    justify-content: center;
}


#divContainer {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 1px solid black;
    box-shadow: 5px 5px;
     
  
}


h1,
#bottom-container,
footer,
a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-container{
    flex-direction: column;
    font-size: 25px;
    font-weight: 600;
    padding-top: 3%;
}

h1 {
    padding-top: 1%;
    font-size: 40px;
    
}


button {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
    font-size: 18px;
    padding: .2em .5em;
    box-shadow: 2px 2px 3px;

    
}

#gridValue {
    margin-top: 10px;
    font-size: 15px;
    max-width: 125px;
}


footer {
    margin-top: 80px;
    font-size: 14px;
}

a {
    text-decoration: inherit;
    color: inherit;
    
}

#gh-logo {
    margin-left: 7px;
    margin-right: 6px;
}